PRIVATE_KEY=
TG_BOT_TOKEN=
USER_INSTANCE
TESTNET_ENDPOINT_RPC=https://goerli.infura.io/v3/6a168940ef48465d9b5894c30d5d9ab7
TESTNET_BLOCKSCAN=https://goerli.etherscan.io/
MAINNET_ENDPOINT_RPC=https://rpc.notadegen.com/eth/goerli
MAINNET_BLOCKSCAN=https://etherscan.io/
BLOCKSCAN=https://goerli.etherscan.io/
FACTORY=0x5C69bEe701ef814a2B6a3EDD4B1652CB9cc5aA6f
TESTNET_WETH=0xb4fbf271143f4fbf7b91a5ded31805e42b2208d6
MAINNET_WETH=0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2
WETH=0xb4fbf271143f4fbf7b91a5ded31805e42b2208d6
